<!-- password_reset_form.html -->

{% include 'fonts.html' %}

<body>


  <span class="ms-md-1 mt-1 fw-bolder me-md-5">AI-Powered-SPRC</span>
  <div class="forget_password">

    <h2>Forgot Password?</h2>
    <p>NO worries, we'll sent you a reset instructions</p>
    <form method="post" action="{% url 'password_reset' %}">
      {% csrf_token %} <br>
      {{ form.as_div }}
      <button type="submit">Reset Password</button> <br><br>
      <div class="back">
        <a href="{% url 'login' %}">
          back to login
        </a>
      </div>


    </form>

  </div>

</body>
<style>
  body {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  span{
    color: #fff;
  }

  .forget_password {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.276);
    height: 100vh;
    width: 600px;
  }

  h2 {
    font-size: 55px;

  }

  p {

    font-size: 22px;
  }

  .back{
    margin-left: 42px;
    display: flex;
    justify-content: center;
   
  }
  a {
    background-color: white;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;

  }

  a:hover {
    background-color: #6f676777;
    color: #fff;
    transition: all ease-in-out 300ms;
  }


  input {
    margin: 20px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 30px;
  }

  button {
    color: #ffffffa7;
    background: #6f676757;
    margin: 20px;
    margin-left: 66px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 370px;
  }

  button:hover {
    background-color: #6f676777;
    color: #fff;
  }
</style>